/cv-f.synctex.gz
/cv-fr.aux
/cv-fr.log
/cv-fr.out
/cv-fr.pdf
/cv-fr.synctex.gz
/cv-en.pdf
/cv-en.synctex.gz
/cv-en.aux
/cv-en.log
/cv-en.out
*.pdf
*.gz
.project
tmp
*.fls
*.aux
.settings
.texlipse
*.fdb_latexmk
